<div *ngIf="pokemon1 && pokemon2">
  <div class="container text-center">
    <img
      src="{{ pokemon1.sprites.front_default }}"
      alt="{{ pokemon1.name }} sprite"
    />
    <img
      src="{{ pokemon2.sprites.front_default }}"
      alt="{{ pokemon2.name }} sprite"
    />
    <h1>{{ pokemon1.name | titlecase }} vs {{ pokemon2.name | titlecase }}</h1>
  </div>
  <div class="container text-center">
    <div>
      <canvas
        baseChart
        [chartType]="radarChartType"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
      >
      </canvas>
    </div>
  </div>
</div>
