<div *ngIf="pokemons.length > 0">
  <div class="container text-center">
    <div
      class="d-inline p-2"
      *ngFor="let pokemon of pokemons; let isLast = last"
    >
      <img
        src="{{ pokemon.sprites.front_default }}"
        alt="{{ pokemon.name }} sprite"
      />
      <span *ngIf="!isLast">vs</span>
    </div>
  </div>
  <div class="container text-center">
    <div *ngIf="chartData.length === pokemons.length">
      <canvas
        baseChart
        [chartType]="radarChartType"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
      >
      </canvas>
    </div>
  </div>
</div>
