.compare-btn {
  background-color: #fbe059;
  color: #090803;
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  animation: fadein 0.2s ease-in;
}

.compare-btn:hover {
  background-color: #fb7f59;
  left: 50.2%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
