<div class="container">
  <app-search></app-search>
</div>
<div class="container">
  <div class="row justify-content-between">
    <app-pokemon-card
      *ngFor="let pokemon of pokemons"
      [pokemon]="pokemon"
      [selectedPokemons]="selectedPokemons"
      (onSelection)="onSelect($event)"
    ></app-pokemon-card>
  </div>
</div>
<div *ngIf="selectedPokemons.length > 0">
  <a
    class="btn btn-primary btn-lg compare-btn"
    routerLink="pokemons/{{ selectedPokemons[0] }}/{{ selectedPokemons[1] }}"
    role="button"
  >
    Compare the {{ selectedPokemons.length }} selected pokemon
  </a>
</div>
