<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-center" style="width: 18rem">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <img src="..." class="card-img-top" alt="..." />
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 18rem">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <img src="..." class="card-img-top" alt="..." />
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-center" style="width: 18rem">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <img src="..." class="card-img-top" alt="..." />
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
</div>
