.pokemon-card-container .card {
  cursor: pointer;
  margin: 0.5em;
}

.pokemon-card-container .card:hover {
  background-color: #ddd;
  color: #607d8b;
  left: 0.1em;
}

.pokemon-card-container .card.selected {
  background-color: #cfd8dc;
  color: white;
}

.pokemon-card-container .card.selected:hover {
  background-color: #bbd8dc;
  color: white;
}
